<div class="col-sd">
<%= form_tag({controller:"posts",action:"index"}, method: :get) do %>
<%= text_field_tag :search %>
<%= submit_tag '検索する'  %>
<% end %>
<%= link_to "新規投稿へ", new_post_path %>
<%= button_to 'ログアウト', destroy_user_session_path, method: :delete %>
<% @posts.each do |t| %>
    <div class="post">
        <div class="container">
            <div class="row">
                <div class="col-sd">
                    <%= image_tag t.image_url, size: "250x200" if t.image? %>
                    <br><%= t.user.email %>
                    <%= t.body %>
                    <% if user_signed_in? %>
                    <% if current_user.already_liked?(t) %>
                        <%= link_to post_like_path(id: t.id, post_id: t.id), method: :delete do %>
                            <i class="fas fa-heart"></i><%= t.likes.count %>
                        <% end %>
                    <% else %>
                        <%= link_to post_likes_path(id: t.id, post_id: t.id), method: :post do %>
                            <i class="far fa-heart"></i><%= t.likes.count %>
                        <% end %>
                        
                    <% end %>
                    <% else %>
                        <i class="far fa-heart"></i><%= t.likes.count %>
                    <% end %>
                    <%= t.created_at %>
                    <%= link_to "詳細へ", post_path(t.id) %>
                    <% if user_signed_in? && current_user.id == t.user_id %> 
                    <%= link_to "編集する", edit_post_path(t.id) %>
                    <%= button_to "削除する", post_path(t.id), method: :delete %>
                </div>
            </div>
            <p class="time"><%= t.created_at %></p>
        </div>
    </div>
<% end %>
<% end %>
<h2>gmap</h2>
<div id='map'></div>

<style>
#map {
  height: 400px;
  width: 400px;
}
</style>

<script>
let map

function initMap(){
  geocoder = new google.maps.Geocoder()

  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: 40.7828, lng:-73.9653},
    zoom: 12,
  });

  marker = new google.maps.Marker({
    position:  {lat: 40.7828, lng:-73.9653},
    map: map
  });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClK91L7bYFOhGloBcVfj9tczT0k-4qzDw&callback=initMap" async defer></script>