<div class="posts-container">
    <div class="col-sm-6">
        <%= form_tag({controller:"posts",action:"index"}, method: :get) do %>
        <%= text_field_tag :search %>
        <%= submit_tag '検索する'  %>
        <% end %>
        <%= link_to "新規投稿へ", new_post_path %>
            <% @posts.each do |t| %>
                <div class="post">
                    <div class="main-box">
                        <div class="left-container"><%= t.body %></div>
                            <div class="right-container">
                                <%= image_tag t.image_url, size: "500x400" if t.image? %>
                                <br><%= t.user.email %>
                                <%= t.body %>
                                <% if user_signed_in? %>
                                <% if current_user.already_liked?(t) %>
                                    <%= link_to post_like_path(id: t.id, post_id: t.id), method: :delete do %>
                                        <i class="fas fa-heart"></i><%= t.likes.count %>
                                    <% end %>
                                <% else %>
                                    <%= link_to post_likes_path(id: t.id, post_id: t.id), method: :post do %>
                                        <i class="far fa-heart"></i><%= t.likes.count %>
                                    <% end %>
                                <% end %>
                                <% else %>
                                    <i class="far fa-heart"></i><%= t.likes.count %>
                                <% end %>
                                <%= t.created_at %>
                                <%= link_to "詳細へ", post_path(t.id) %>
                                <% if user_signed_in? && current_user.id == t.user_id %> 
                                <%= link_to "編集する", edit_post_path(t.id) %>
                                <%= button_to "削除する", post_path(t.id), method: :delete %>
                            </div>
                        </div>
                        <p class="time"><%= t.created_at %></p>
                    </div>
                    <% if user_signed_in? %>
                    <%= link_to "マイページへ", user_path(current_user.id) %>
                    <% end %>
                    <%= button_to 'ログアウト', destroy_user_session_path, method: :delete %>
                
                <% end %>
            </div>
        <% end %>
    </div>
</div>
