<h3>詳細</h3>
<div class="post">
    <p><%= @post.body %></p>
    <p><%= @post.created_at %></p>
    <% if user_signed_in? %>
    <% if current_user.already_liked?(@post) %>
    <input type=”link_to post_like_path(@post), method: :delete do ”>
        <%= link_to post_like_path(@post), method: :delete do %>
            <i class="fas fa-heart"></i><%= @post.likes.count %>
        <% end %>
    <% else %>
        <%= link_to post_likes_path(@post), method: :post do %>
            <i class="far fa-heart"></i><%= @post.likes.count %>
        <% end %>
    <% end %>
<% else %>
    <i class="far fa-heart"></i><%= @post.likes.count %>
<% end %>
<div class="comment-wrapper">
    <p>コメント一覧</p>
    <% @comments.each do |c| %>
        <div>
        <%= c.user.email unless c.user.blank? %>
        <br>
        <%= c.content %>
        </div>
        <%=link_to "削除", post_path(c.id), method: :delete %>
    <% end %>

    <% if user_signed_in? %>
        <%= form_with(model: [@post, @comment], local: true) do |f| %>
        <%= f.text_area :content %>
        <%= button_tag type: "submit" do %>
            <i class="far fa-comments"></i> コメントする
        <% end %>
        <% end %>
    <% end %>
</div>
</div>

<%= link_to "一覧に戻る", posts_path %>